body{
    background-color: #82ccdd;
}

h1 {
    color: #0c2461;
    transition: color .5s ease-in-out;
}

.clicked {
    color: #e55039;
}

.btn {
    cursor: pointer;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}